
.hero {
  position: relative;
  overflow: hidden;
  min-height: 100vh;

  .header { position: absolute; }

  .section {
    min-height: 100vh;

    @include media-breakpoint-up(lg) {
      height: 100vh;
      min-height: 720px;
      max-height: 1080px;
    }

    > .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  .section-label {
    font-size: 11px;
    margin-bottom: 5px;

    @include media-breakpoint-up(lg) {
      font-size: 12px;
      margin-bottom: 10px;
    }
  }

  .btn-hero {
    min-width: 150px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1.5px;
    height: 42px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-width: 1.5px;
    border-color: rgba($color-one-01, .7);
    color: rgba($color-one-01, .7);

    &:hover,
    &:focus {
      background-color: transparent;
      color: $color-one-01;
      border-color: $color-one-01;
    }
  }
}

.hero-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.hero-body {
  margin-top: 20px;
  padding-left: 10px;
  padding-right: 10px;

  @include media-breakpoint-up(lg) {
    width: 50%;
    margin-top: 0;
    margin-bottom: 40px;
  }
}

.hero-footer {
  margin-top: 20px;
  padding-left: 10px;

  @include media-breakpoint-up(lg) {
    margin-top: 30px;
    width: 60%;
    padding-left: 0;
  }

  @include media-breakpoint-up(xxl) {
    margin-top: 40px;
  }
}

.hero-title {
  color: $color-one-01;
  font-size: 24px;
  font-weight: 600;
  font-family: $ff-serif;

  @include media-breakpoint-up(lg) {
    font-size: 54px;
    font-weight: 700;
    letter-spacing: -1px;
  }
}

.hero-text {
  color: $gray-700;

  @include media-breakpoint-up(lg) {
    font-size: 18px;
    font-weight: 300;
  }
}

.hero-one {
  &::before {
    content: '';
    position: absolute;
    top: -10%;
    left: 20%;
    width: 25%;
    height: 65%;
    background-color: rgba($color-one-04, .6);
    transform: skewY(5deg);
    box-shadow: -10px -10px 0 1px #fff,
                -40px -30vh 0 1px rgba($gray-200, .6);
  }

  .header-brand span { color: $color-one-01; }
  .header-brand span::after { background-color: $color-one-02; }

  .hero-image {
    align-self: flex-end;
    position: relative;
    width: 80%;
    margin-right: -15px;

    @include media-breakpoint-up(lg) {
      position: absolute;
      left: 50%;
      width: auto;
      top: $header-height;
    }

    img { object-position: top left; }
  }

  .nav-header {
    .nav-link {
      color: $color-one-01;

      &:hover { color: lighten($color-one-01, 10%); }
      &::before { border-bottom-color: $color-one-02; }
    }
  }

  .nav-icon .nav-link {
    color: rgba($color-one-01, .75);
    &:hover,&:focus { color: $color-one-02; }
  }

  .section {
    padding-top: $header-height;
  }

  .section-label { color: $color-one-02; }

  .hero-title {
    margin-bottom: 20px;

    @include media-breakpoint-up(lg) { margin-bottom: 30px; }
  }

  .hero-text {
    margin-bottom: 25px;
    @include media-breakpoint-up(lg) { margin-bottom: 35px; }
  }
}
