// Colors
$color-one-01:                      #263d49;
$color-one-02:                      #ae9170;
$color-one-03:                      #cfbea8;
$color-one-04:                      #e9e2d6;

// Links
$link-decoration:                   none;

// Fonts
$ff-serif:                          'Playfair Display', serif;

// UI
$header-height:                     100px;
